body {
    background-color: #a8a6a6;
    margin: 0;
}

nav.barraDeNavergacion {
    background-color: #a8a6a6;
}

.barraBusquedaFiltros {
    background-color: #a8a6a6;
}

.contenedor {
    border: 5px solid red;
}

.publicacion {
    border: 5px solid green;
}
