/*
    Los comentarios con "---" son cada seccion de la paguina
    y  los que no tienen nada, son cada parte interna de esa 
    seccion, como titulo y la barra de navegacion.
*/

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

/*General*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 80%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted;
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}


html {
    font-size: 62.5%;
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    font-family: Lato, sans-serif;
    font-size: 1.6rem;
    line-height: 1.8
}

p {
    color: #000;
    font-size: 2rem
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

img,
picture {
    width: 100%;
    display: block
}

h1,
h2,
h3 {
    font-family: Lato, sans-serif;
    margin: 2.5rem 0;
    font-weight: 300;
    text-align: center
}

h1 {
    font-size: 3.8rem
}

h2 {
    font-size: 3.4rem
}

h3 {
    font-size: 3rem
}

h4 {
    font-size: 2.6rem
}

.seccion {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.contenido-centrado {
    max-width: 80rem
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end
}

/*---encabezado dos---*/
.header {
    background-color: #5c5c5c;
}

@media (min-width:768px) {

    .header.inicio,
    .header.inicio .contenido-header {
        min-height: 60rem
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    text-align: left;
    color: #fff;
    font-weight: 700;
    line-height: 2;
    max-width: 60rem;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width:768px) {
    .derecha {
        align-items: flex-end
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

}

@media (min-width:768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear
}

@media (min-width:768px) {
    .navegacion {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible
    }
}

.navegacion a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;
}

@media (min-width:768px) {
    .navegacion a {
        margin-right: 2rem;
        font-size: 1.8rem
    }

    .navegacion a:last-of-type {
        margin-right: 0
    }
}

.navegacion a:hover {
    color: red;
}

@media (min-width:768px) {
    .movilMenu {
        display: none
    }
}

.movilMenu img {
    width: 5rem;
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}

/*---Barra de busqueda, filtro y usuario---*/
.barraBusquedaFiltros {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    justify-content: space-around;
    /*display: flex;
    align-items: center;
    margin: 0px;
    gap: 10px;*/
}

/*filtros*/
.filter-container {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.fa-bars {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.fa-user {
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    flex-shrink: 0;
}

.filter-options {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 3px;
    border-radius: 8px;
    z-index: 1;
    width: 227px;
    flex-shrink: 0;
}

.filter-options label {
    display: block;
    width: auto;
    cursor: pointer;
    color: #000;
    font-size: 16px;
}

.filter-options button {
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
}

.filter-container.active .filter-options {
    display: inline-block;
}

@media (max-width: 768px) {
    .barraBusquedaFiltros {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .barrasFiltros,
    .usuario {
        position: fixed;
        bottom: 0;
        width: 50%;
        height: 60px;
        margin: 0;
        background-color: rgba(255, 0, 0, 0.281);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barrasFiltros {
        left: 0;
        border-radius: 0;
    }

    .usuario {
        right: 0;
        border-radius: 0;
    }

    .filter-options {
        top: auto;
        bottom: 145%;
    }
}

/*Precios*/
.precio {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/*macotas*/
.icono-Mascotas {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
}

.icono-Mascotas input[type="checkbox"] {
    display: none;
}

.icono-Mascotas .fa-paw {
    position: relative;
}

.icono-Mascotas input[type="checkbox"]:checked~.fa-ban {
    display: block;
}

.icono-Mascotas .fa-ban {
    color: red;
    position: absolute;
    top: 49%;
    left: 8.2%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 22px;
}

.icono-Mascotas .fa-ban:hover {
    cursor: pointer;
}

/*Personas*/
.maxPersonas {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
}

/*Habitaciones*/
.maxHabitaciones {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
}

/*Habitaciones y maxPersonas*/
.filter-options input[type="number"] {
    max-width: 50%;
    padding: 5px;
    margin-top: 5px;
}

.filter-container.active .filter-options {
    display: block;
}

/*Opcion 2*/
.opcion2 {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
}

/*Boton de buscar filtros*/
.btnBuscarFiltro {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #4CAF50;
}

/*barra de busqueda*/
.barraBusqueda-box {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;

    flex-grow: 1;
    min-width: 150px;
    max-width: 500px;
}

.barraBusqueda-box input[type="text"] {
    border: none;
    padding: 8px 10px;
    flex-grow: 1;
    outline: none;
    min-width: 150px;
    max-width: 500px;
}

.btnBuscar {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    flex-shrink: 0;
}

.usuario .fa-user {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

/*---Publicaciones---*/
.contenedorPublicaciones {
    padding: 2rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width:768px) {
    .contenedorPublicaciones {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr)
    }
}

.publicacion {
    background-color: #eee;
    border: 1px solid #c8c8c8;
    margin-bottom: 2rem;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.publicacion picture img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.publicacion h3,
.publicacion p {
    margin: 0;
    padding-left: 10px;
}

.precio {
    color: #4CAF50;
    font-weight: 700;
    font-size: 3rem;
    font-weight: bold;
    background-color: #eee;
    border: none;
}

.icionosCaracteristicasDepartamento {
    display: flex;
    list-style: none;
    padding-left: 10px;
    max-width: 40rem;
}

.icionosCaracteristicasDepartamento li {
    flex: 1;
    display: flex;
}

.icionosCaracteristicasDepartamento li img {
    flex: 0 0 3rem;
    margin-right: 1rem
}

.icionosCaracteristicasDepartamento li p {
    font-weight: 900
}

.boton-verPropiedad {
    background-color: #4CAF50;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    display: inline-block;
    border: none
}

.boton-verPropiedad:hover {
    background-color: #2b772c;
    cursor: pointer
}

.boton-verPropiedad-block {
    background-color: #4CAF50;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    display: block;
    border: none
}

.boton-verPropiedad-block:hover {
    background-color: #2b772c;
    cursor: pointer
}

/*---Pie de pagina---*/
footer {
    text-align: center;
    padding: 5px;
    background-color: #a8a6a6;
}

/*-----ventana de Publicaciones-----*/
/*encabezado*/
.header.general {
    background-color: #5c5c5c;
    padding: 1rem 0 3rem;
}

.header.general .logo {
    max-width: 15%;
}

@media (min-width:768px) {

    .header.general,
    .header.general .contenido-header {
        min-height: 10rem;
    }
}

/*publicacion*/
.publicacionCompleta {
    max-width: 80rem;
    margin: 0;
    padding: 10px;
    margin: 10px auto;
}

.publicacionCompleta .galeria {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 430px;
    margin: 0;
}

.publicacionCompleta .galeria img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
}

.publicacionCompleta .galeria img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);
}

@media (min-width:768px) {

    .publicacionCompleta .galeria {
        display: flex;
        min-width: 10rem;
    }

    .publicacionCompleta .galeria img:hover {
        cursor: pointer;
        min-width: 10rem;
        opacity: 1;
        filter: contrast(110%);
    }

}

/* Contenedor principal centrado */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Caja de título */
.login-title {
    background-color: #a8a6a6;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #000;
    font-size: 24px;
    font-weight: bold;
}

/* Caja de login */
.login-box {
    display: flex;
    background-color: #ffffff;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Imagen a la izquierda */
.login-img {
    width: 50%;
    object-fit: cover;
    height: auto;
}

/* Formulario a la derecha */
.login-form {
    width: 50%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Título del formulario */
.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Icono de usuario */
.icon-user {
    font-size: 80px;
    color: #000000;
}

/* Grupos de entrada */
.input-group {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    padding: 5px;
}

.input-group i {
    margin-right: 10px;
    font-size: 16px;
}

.input-group input {
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    padding: 10px 5px;
}

/* Recordar y Olvidar */
.options {
    display: flex;         
    justify-content: center; 
    align-items: center;   
    gap: 10px;             
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 14px;
}

.options label {
    display: flex;
    align-items: center;
    margin: 0; 
}

.options input[type="checkbox"] {
    margin-right: 5px;
}

/* Botón login */
.login-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #2b772c;
}

.mapa {
    margin: 2rem 0;
    text-align: center;
}

.contenedor-mapa {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.valoraciones {
    padding: 2rem;
    background-color: #f9f9f9;
    margin-top: 2rem;
    border-radius: 8px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.valoracion {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    background-color: #fff;
}

.estrellas {
    color: #FFD700; /* color dorado */
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.comentario {
    font-style: italic;
    color: #555;
}
.fecha {
    font-size: 0.9rem;
    color: #888;
    margin-top: 0.5rem;
}
.fecha i {
    margin-right: 5px;
    color: #555; /* opcional, cambia color del ícono */
}



.contacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.contacto h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.info-contacto p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.info-contacto i {
    margin-right: 8px;
    color: #007BFF;
}

.formulario-contacto label {
    display: block;
    margin-top: 1rem;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-contacto button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
